// Imports
@import "../../styles/_colors.scss";
@import "../../styles/_fonts.scss";
@import "../../styles/_shadows.scss";
@import "../../styles/_breakpoints.scss";

// Main
.main {
  align-items: center;
  background: $content-primary;
  box-shadow: $shadow-medium;
  display: flex;
  flex-direction: column;
  font-family: $sora;
  min-height: 80vh;
  padding: 6rem 2rem;
  position: relative;
  @include desktop {
    padding: 6rem;
  }
  &:after {
    border: 2px solid rgba($color: #fff, $alpha: 0.5);
    content: "";
    height: 100%;
    left: -0.25rem;
    position: absolute;
    top: 2.5rem;
    width: calc(100% - 2.5rem);
    z-index: -1;
  }
}

// Intro Section
.intro {
  display: flex;
  flex-direction: column;
  font-family: $roboto;
  line-height: 1.35em;
  margin: 5.5rem 0 2rem;
  padding: 0 2.5rem;
  position: relative;
  width: 100%;
  @include desktop {
    padding: 0 5rem;
    width: 85rem;
  }
}

.intro_text {
  font-size: 2.5rem;
  margin: 0 0 2.25rem 0;
}

.details {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    justify-content: center;
  }
}

.header_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  position: relative;
  width: 12rem;
  z-index: 0;
}

.header {
  background: $content-primary;
  color: $accent;
  display: inline-block;
  font-family: $sora;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
  &:after {
    border-top: 2px solid $accent;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
  }
}

.name {
  flex-grow: 1;
}

.edit {
  font-size: 1.5rem;
  a {
    text-decoration: none;
  }
}

.owner {
  font-size: 1.15rem;
  padding-left: 1rem;
}

// Stockpiles Section
.stockpile {
  background: $content-secondary;
  box-shadow: $shadow-light;
  margin: 0 0 -7.5rem 0;
  min-height: 30rem;
  padding: 3rem 1.5rem;
  width: 100%;
  @include desktop {
    padding: 5rem;
    width: 85rem;
  }
}

// Tables
.table_container {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  th {
    border-bottom: 1px solid $border-dark;
    padding: 1rem;
    text-align: left;
  }
  td {
    padding: 1rem 0;
  }
}

.symbol {
  font-family: $roboto;
  font-size: 1.2rem;
  font-weight: 600;
}
