// Colors
$content-primary: #fdf9f7;
$content-secondary: #fff;
$body-dark: #f5a1c5;
$body-light: #faaf9a;
$border-dark: #191919;
$text-dark: #191919;
$button-active: #ba3b6d;
$accent: #ba3b6d;
$button-overlay: #faae9c;
