// Imports
@import "../../styles/_fonts.scss";

.header {
  padding: 3rem 6rem;
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.branding {
  font-family: $sora;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
