// Imports
@import "../../styles/_colors.scss";
@import "../../styles/_fonts.scss";
@import "../../styles/_shadows.scss";
@import "../../styles/_breakpoints.scss";

.main {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.intro {
  background: $content-primary;
  box-shadow: $shadow-medium;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 70rem;
  min-height: 60vh;
  padding: 3rem 6rem 3rem;
  position: relative;
  @include desktop {
    min-height: 80vh;
    padding: 3rem 4rem 6rem;
  }
  @include desktop-large {
    padding: 3rem 11.25rem 6rem 15rem;
  }
  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 2.5rem);
    height: 100%;
    border: 2px solid rgba($color: #fff, $alpha: 0.5);
    left: -0.25rem;
    top: 2.5rem;
    z-index: -1;
  }
}

.intro_text {
  font-family: $roboto;
  font-size: 2.5rem;
  line-height: 1.35em;
  margin: 0;
  max-width: 25rem;
}

.header_container {
  display: flex;
  justify-content: flex-end;
  margin: 8.5rem 0 2rem;
  max-width: 12rem;
  position: relative;
  z-index: 0;
}

.header {
  background: $content-primary;
  color: $accent;
  display: inline-block;
  font-family: $sora;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 2px solid $accent;
    z-index: -1;
  }
}

.link {
  color: $text-dark;
  font-size: 1.65rem;
  display: inline-block;
  margin-top: 4rem;
  position: relative;
  width: auto;
  z-index: 1;
  &:hover {
    text-decoration: none;
  }
  &::before {
    background-color: $button-overlay;
    bottom: -0.15rem;
    content: "";
    height: 0.6rem;
    left: 0.5rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: -1;
  }
  &:hover::before {
    bottom: 0;
    height: 100%;
    left: -0.5rem;
    width: calc(100% + 0.8rem);
  }
}

.subheader_container {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 2rem;
  max-width: 12rem;
  position: relative;
  z-index: 0;
}

.subheader {
  background: white;
  display: inline-block;
  font-family: $sora;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 2px solid rgba(0, 0, 0, 1);
    z-index: -1;
  }
}

.form {
  @include desktop {
    width: 22rem;
  }
}

.login {
  background: $content-secondary;
  box-shadow: $shadow-light;
  margin: 0 0 4rem 0;
  padding: 5rem;
  @include desktop {
    margin: 6.5rem 8rem 6.5rem 0;
  }
}

.input_group {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;
  @include desktop {
    flex-direction: column;
  }
}

.input {
  border: 2px solid #000;
  font-size: 1.25rem;
  padding: 0.5rem;
  width: 100%;
  @include desktop {
    width: auto;
  }
}

.label {
  font-size: 1.5rem;
  line-height: 1.25;
  padding-right: 1rem;
  @include desktop {
    padding-bottom: 0.75rem;
  }
}

.button_group {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.button {
  background: none;
  border: 2px solid $border-dark;
  color: #000;
  font-size: 1.25rem;
  justify-self: flex-end;
  margin: 0.5rem 0;
  padding: 0.75rem 2rem;
  transition: all 0.5s ease;
  width: auto;
  &:hover,
  &:active,
  &:focus {
    background: $button-active;
    color: white;
  }
}

// Logout
.logout {
  display: flex;
  flex-direction: column;
  font-family: $sora;
}

.logout_button {
  display: flex;
  margin: 1.5rem 0;
}
